*, ::after, ::before {
    box-sizing: border-box;
}

#header {
	width: 1140px;
	height: 180px;
	margin: 0px auto;
}
#header-top {
	width: 100%;
	height: 100px;
	text-align: center;
	line-height: 80px;
	position: relative;
	background-color: pink;
}
#header-top span {
	font-size: 26px;
	color: #EC1C24;
	font-weight: bold;
	position: absolute;
	left: 450px;
	top: 16px;
}
#header-top img {
	width: 220px; 
	height: 100px; 
	float: left;
}
#header-top a {
	font-size: 18px;
	color: blue;
	position: absolute;
	left: 1010px;
	top: 44px;
	text-decoration: none;
}
#header-top a:hover {
	text-decoration: underline;
	color: green;
}
#nav {
	width: 100%;
	height: 60px;
	margin-top: 20px;
	border-radius: 8px;
}
#nav ul{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}
#nav a{
	width: 190px;
	font-size: 19px;
	color: #FFFFFF;
	display: block;
	line-height: 60px;
	text-align: center;
	text-decoration: none;
}
#nav ul li{
	float: left;
}
#nav a:hover{
	color: #EC1C24;
	background-color: #EEE;
}

/* -------------------- Nút ấn xem nội dung nav ----------------- */
#click1 {
	width: 190px;
	height: 60px;
	padding: 0px;
	border: none;
	float: left;
	cursor: pointer;
	background-color: black;
}
#click2 {
	width: 190px;
	height: 60px;
	padding: 0px;
	border: none;
	float: left;
	cursor: pointer;
	background-color: black;
}
#click3 {
	width: 190px;
	height: 60px;
	padding: 0px;
	border: none;
	float: left;
	cursor: pointer;
	background-color: black;
}
#click4 {
	width: 190px;
	height: 60px;
	padding: 0px;
	border: none;
	float: left;
	cursor: pointer;
	background-color: black;
}
#click5 {
	width: 190px;
	height: 60px;
	padding: 0px;
	border: none;
	float: left;
	cursor: pointer;
	background-color: black;
}
#click6 {
	width: 190px;
	height: 60px;
	padding: 0px;
	border: none;
	float: left;
	cursor: pointer;
	background-color: black;
}

/* ---------------   Phần thân trang ---------------------- */
#container {
	width: 1140px;
	min-height: 100px;
	margin: 0px auto;
	margin-top: 30px;
	position: relative;
}
/*----------------------------------------------------- Nội dung trang chủ */
#content-home {
	width: 100%;
	height: 1000px;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 10;
	background-color: #FFF;
}
#content-home h1 {
	padding-left: 100px;
	padding-top: 80px;
}



/*----------------------------------------------------- Nội dung sản phẩm */
#content-product {
	width: 100%;
	height: 300px;
	position: absolute;
	top: 0px;
	left: 0px;
}
.title{
	width: 100%;
	height: 50px;
	line-height: 50px;
	font-size: 18px;
	font-weight: bold;
	padding-left: 10px;
	border-radius: 6px;
	color: #FFF;
	background-color: #EC1C24;
}
#main2{
	margin-top: 20px;
	font-size: 18px;
	padding: 20px 0px;
}
.content1{
	margin-bottom: 10px;
}
.content1 input[type="text"] {
	width: 100%;
	height: 40px;
	border: 1px solid #CCC;
	padding: 5px 10px;
	outline-color: 	#ADD8E6;
	border-radius: 5px;
}
.content1 input[type="reset"],
.content1 input[type="button"] { 
	width: 180px;
	height: 40px;
	font-size: 16px;
	background-color: #FFF;
	border: 1px solid #CCC;
	padding: 5px 10px;
	border-radius: 5px;
}
.content1 input[type="reset"]:hover,
.content1 input[type="button"]:hover {
	background-color: #EC1C24;
	color: #FFF;
}



/*----------------------------------------------------- Nội dung danh sách SP */
#content-list {
	width: 100%;
	height: 600px;
	position: absolute;
	top: 0px;
	left: 0px;
	
}
#main3{
	width: 100%;
	height: 400px;
	margin-top: 20px;
	font-size: 18px;
	padding: 20px 0px;
}

#list-product table {
	width: 100%;
	border-collapse: collapse;
}
/*Xác định độ rộng cho từng cột*/
#list-product table th:nth-child(1) { 
	width: 10%;
	padding: 18px;
	background-color: #CCC;
}
#list-product table th:nth-child(2) {
	width: 20%;
	background-color: #CCC;
}
#list-product table th:nth-child(3) {
	width: 40%;
	background-color: #CCC;
}
#list-product table th:nth-child(4) {
	width: 30%;
	background-color: #CCC;
}
#list-product table td {
	text-align: center;
	padding: 20px;
	border: 1px solid #CCC;
}
#list-product input[type="button"] { 
	width: 50px;
	height: 30px;
	background-color: #FFF;
	border: 1px solid #CCC;
	border-radius: 5px;
}
#list-product input[type="button"]:hover { 
	color: #FFF;
	background-color: #EC1C24;
}

/*--------------------------------------------------- Nội dung khách hàng */
#content-customer {
	width: 100%;
	height: 500px;
	position: absolute;
	top: 0px;
	left: 0px;
	text-align: center;
	padding-top: 60px;	
}
/*--------------------------------------------------- Nội dung bình luận */
#content-comment{
	width: 100%;
	height: 500px;
	position: absolute;
	top: 0px;
	left: 0px;
	text-align: center;
	padding-top: 60px;
}

/*--------------------------------------------------- Nội dung tài khoản */
#content-account {
	width: 100%;
	height: 300px;
	position: absolute;
	top: 0px;
	left: 0px;
	
}
#option-account {
	width: 30%;
	height: 100%;
	float: left;
	border: 1px solid #000;
}
#option-account span{
	width: 400px;
	height: 30px;
	font-size: 24px;
	padding-left: 34px;
	padding-top: 4px;
}
#option-account a{
	font-size: 20px;
	padding-left: 34px;
	padding-bottom: 20px;
}
#option-account a:hover{
	color: #EC1C24;
}