#move {
	width: 1500px;
	height: 34px;
	margin: 0px auto;
	padding-top: 5px;
}
#icon-home{
	color: #8E8E8E;
	margin-left: 160px;
}
.text {
	padding-left: 12px;
	color: #8E8E8E;
	line-height: 24px;
}
#icon-move {
	color: #8E8E8E;
	margin-left: 10px;
}

/*------------------ Nội dung ------------*/
#title {
	width: 1060px;
	height: 40px;
	margin: 0px auto;
	line-height: 40px;
	text-align: center;
}
#title a{
	color: #000000;
	font-size: 26px;
	text-transform: uppercase;
	font-weight: bold;
}
#text-content {
	width: 1180px;
	height: 1340px;
	margin: 0px auto;
	padding-top: 1px;
	margin-top: 20px;

}
#text-content p {
	color: #000000;
	font-size: 17px;
}
#text-content img{
	width: 900px;
	height: 800px;
	margin-left: 140px;
}